html{
    min-height:100%;
    position:relative;
}

body{
    margin: 0;
}


@font-face {
  font-family: myFirstFont;
  src: url(Pimpit-trial-variable.ttf);

}

@font-face {
  font-family: myFirstFont2;
  src: url(Fraunces72ptSuperSoft-Regular.otf);
}

@font-face {
  font-family: myFirstFont3;
  src: url(Souvenir-Medium.otf);
}

sup {
  font-size: 9pt;
}

h {
font-family: myFirstFont;
color: white;
font-style: medium;
font-size: 220pt;
line-height: 0.9;
letter-spacing: -5px;
}

p {
margin-top:-5px;
font-family: myFirstFont2;
font-weight: 500;
font-style: normal;
font-size: 12pt;
line-height: 1.1;
}

@media screen and (min-width: 320px) {
  p {
    font-size: calc(12pt + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  p {
    font-size: 20pt;
  }
}

h2 {
margin-top:-5px;
font-family: myFirstFont2;
font-weight: 500;
font-style: normal;
font-size: 9pt;
letter-spacing: 0.2px;
line-height: 1.25;
}

h3 {
margin-top:-5px;
font-family: myFirstFont2;
font-weight: 500;
font-style: normal;
font-size: 40pt;
line-height: 1.15;
}
}




/*#container {
  width: 100%;
  float: left;
  display:inline-flex;
  flex-wrap:wrap;
}
*/

#container {
  width: 100%;
  float: left;
  display:inline-flex;
  flex-direction: column;
}


.paragraph{
position: relative;
height: 100vh;
}



#introduction{
z-index: 1;
background-color: black;
}

#author{
z-index: 2;
background-color: #ffb1bd;
}

#quote{
z-index: 3;
background-color: black;
}


#a{
z-index: 3;
background-color: #009b3a;
}

#b{
z-index: 4;
background-color: #ffe000;
}

#c{
z-index: 5;
background-color: #abe8e9;
}

#d{
z-index: 6;
background-color: #d9d8d6;
}

#g{
z-index: 7;
background-color: #ffab52;
}

#e{
z-index: 8;
background-color: #ff7332;
}

#f{
z-index: 9;
background-color: #69c5ec;
}

#g{
z-index: 10;
background-color: white;
}


#chapter1{
z-index: 11;
background-color: black;
}

#h{
z-index: 12;
background-color: #fbf49a;
}

#i{
z-index: 13;
background-color: #0081c3;
}

#j{
z-index: 14;
background-color: #d5a9a0;
}

#k{
z-index: 15;
background-color: #fbf49a;
}

#l{
z-index: 16;
background-color: #fbf49a;
}

#m{
z-index: 17;
background-color: #fbf49a;
}

#n{
z-index: 17;
background-color: #fbf49a;
}












#sticky{
width: 100%;
position: sticky;
top: 0px;
}


.collumn_sub{
 width: 15%; 
 float: left;
 margin:2% 1% 2% 2%;
}

.collumn_bread{
 width: 45%; 
 float: left;
 margin:2% 1% 2% 2%;
}

.image{
width: 30%;
float: left; 
margin:2% 1% 2% 2%;
/*background-color: red;*/
}

.caption{
  width: 100%;
margin-top: 2%;
}

.footnote{
  width: 50%;
margin-top: 43%;
}

.collumn_chapter{
 text-align: center;
 position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.collumn_chapter1{
 text-align: center;
 position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 20%);
    transform: translate(-50%, 20%);
}


a {
text-decoration: none;
color: black;
}


#white {
color: white;
}




a:hover {
 color: black;
}

a.purple:hover {
  color:purple;
}



