html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

body{
    margin: 0;
/*    background: green;*/
}


@font-face {
  font-family: myFirstFont;
  src: url(Pimpit-trial-variable.ttf);

}


p1 {
font-family: myFirstFont;
color: white;
font-style: medium;
font-size: 220pt;
line-height: 0.9;
letter-spacing: -5px;
}


#container {
  width: 100%;
  float: left;
  align-items: flex-start;

}

.paragraph{
position: relative;
width: 100-10px%;
padding:10px;
height: 100vh;
}

#a{
z-index: 1;
background-color: black;
}

#b{
z-index: 2;
background-color: green;
}

#c{
z-index: 3;
background-color: orange;
}

#d{
z-index: 4;
background-color: yellow;
}



#sticky{
  width: 100%;
position: sticky;
top: 10px;
padding:10px;
}


#collumn{
 width: 50%; 
 float: left;
}

#collumn_100{
 text-align: center;
 position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a {
text-decoration: none;
color: black;
}






a:hover {
 color: black;
}

a.purple:hover {
  color:purple;
}


p {
margin-top:-11px;
font-family: neue-haas-grotesk-text, sans-serif;
font-weight: 500;
font-style: normal;
font-size: 16pt;
line-height: 1.3;
}



